/* responsiveness */
@media all and (min-width: 900px) {
    /* add space so that the last item is not at the bottom of the screen */
    main {
        margin-bottom: 30rem;
    }
}

footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #E5E7EB;
}
