.flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0.5rem 2rem;
}

.flex.one-one > div {
    flex-basis: 48%;
}

.flex.one-two > div:first-child {
    flex-basis: 30%;
}

.flex.one-two > div:last-child {
    flex-basis: 65%;
}

.flex.one-one-one-one > div {
    flex-basis: 25%;
}

/* responsiveness */
@media all and (max-width: 800px) {
    /* container */
    .flex {
        flex-direction: column;
    }

    .flex.one-one-one-one {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .flex.one-one-one-one > div {
        flex-basis: 45%;
    }
}
